html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(168, 104, 204, 1) 0%,
    rgba(243, 6, 107, 1) 100%,
    rgba(251, 0, 102, 1) 100%
  );
}

.app-content {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-gap: 45px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.calendar-month {
  padding: 12px;
}

.calendar > .calendar-header {
  display: grid;
  grid-template-columns: auto 5fr auto;
  margin-bottom: 45px;
}

.content-body-wrapper {
  background-image: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(168, 104, 204, 1) 0%,
    rgba(243, 6, 107, 1) 100%,
    rgba(251, 0, 102, 1) 100%
  );
  background-clip: border-box;
  border-radius: 4px;
}

.content-body {
  padding: 120px 240px;
  position: relative;
}

.calendar-sidebar {
  position: absolute;
  top: 50px;
  bottom: 50px;
}

.left {
  left: -130px;
  background-color: #fff;
  padding: 0 15px 5px 0px;
  border-radius: 4px;
  min-width: 260px;
}

.calendar-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.calendar-sidebar-header {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.calendar-sidebar-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.calendar-sidebar-body {
  flex: 1;
  padding-left: 12px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calendar-event {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calendar-events-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.calendar-sidebar-avatar {
  border: 6px solid rgb(172, 115, 206);
  align-self: flex-start;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(1.15);
  transform-origin: top left;
  width: 100px;
  height: 100px;
  margin-top: -35px;
}

.avatar {
  width: 100.5px;
  height: 100.5px;
  padding: 0;
}

.calendar-sidebar .right {
  right: -100px;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 28px;
  grid-row-gap: 12px;
}

.calendar-view {
  min-height: 560px;
}

.calendar-day {
  padding: 12px;
  font-size: 23px;
  font-weight: bold;
}

.calendar-month {
  font-size: 30px;
  text-align: center;
}

.prevMonth,
.nextMonth {
  font-size: 23px;
  opacity: 0.8;
  align-self: center;
  cursor: pointer;
}

[data-future="true"],
[data-current="true"],
[data-previous="true"] {
  margin: auto;
}

[data-current-month="true"] {
  font-size: 50px;
}

[data-today] {
  background-color: rgb(192, 185, 185);
  border-radius: 50%;
}

.bottom-spacing {
  margin-bottom: 20px;
  text-align: center;
}

.plus-icon {
  font-size: 35px;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid rgb(172, 115, 206);
  position: absolute;
  left: 105px;
  bottom: -20px;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.setting-icon {
  font-size: 25px;
  margin-bottom: 8px;
}

/* Utility styles */
.plain {
  color: #fff;
}

.primary {
  color: #a868cc;
}

.danger {
  color: rgb(250, 7, 7);
}

.uppercase {
  text-transform: uppercase;
}

.fade-in {
  opacity: 0.55;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
